.*
venv
*.tfstate*
lambda/webapp/css/
lambda/webapp/index.html
lambda/webapp/js/
lambda/webapp/webapp
lambda/wsauth/wsauth
lambda/wsconn/wsconn
lambda/wsdefault/wsdefault
lambda/tgwebhook/tgwebhook
lambda/dstream/dstream
foo.go
